{% extends 'templates/auth.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="page login-page">
          <div class="container">
            <div class="form-outer text-center d-flex justify-content-center align-items-center">
              <div class="form-inner">
                <div class="logo text-uppercase"><span>Rebar</span><strong class="text-primary">Domains</strong></div>
                <form id="login-form" method="post">
                  <div class="form-group">
                    <label for="login-username" class="label-custom">Email</label>
                    <input id="login-username" type="email" name="loginEmail" required="">
                  </div>
                  <div class="form-group">
                    <label for="login-password" class="label-custom">Password</label>
                    <input id="login-password" type="password" name="loginPassword" required="">
                  </div><a id="login" href="index.html" class="btn btn-primary">Login</a>
                  <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                </form><a href="#" class="forgot-pass">Forgot Password?</a><small>Do not have an account? </small><a href="{{ path_for('auth.signup') }}" class="signup">Signup</a>
              </div>
    
              <div class="copyrights text-center">
                <p>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block foot %}
    {{ parent() }}
{% endblock %}