{% extends 'templates/app.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
     <div class="row">
        <div class="col-12">
          <h1>Groups configuration</h1>
        </div>
     </div>
   
{% endblock %}
{% block foot %}
    {{ parent() }}
{% endblock %}