{% extends 'templates/app.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
     <div class="row">
        <div class="col-12">
          <h1>Domains</h1>
        </div>
        <div class="col-12">
            <table class="table table-responsive table-striped table-bordered">
               <thead>
                 <tr>
                   <th>Domain Name</th>
                   <th>Registrar</th>
                   <th>Added to Account Date</th>
                   <th>Registry Created Date</th>
                   <th>Updated Date</th>
                   <th>Expiry Date</th>
                   <th>Group</th>
                   <th>Nameservers</th>
                   <th>WHOIS</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>Domain Name</td>
                   <td>Registrar</td>
                   <td>Added to Account Date</td>
                   <td>Registry Created Date</td>
                   <td>Updated Date</td>
                   <td>Expiry Date</td>
                   <td>Group</td>
                   <td>Nameservers</td>
                   <td>WHOIS</td>
                 </tr>
               </tbody>
            </table>
        </div>
     </div>
   
{% endblock %}
{% block foot %}
    {{ parent() }}
{% endblock %}