{% extends 'templates/app.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block title %}
    <h1>Dashboard</h1>
{% endblock %}
{% block content %}
  <section class="dashboard-counts p-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-2 col-md-4 col-6">
        	<a href="{{ path_for('domains') }}" class="link-color">
	          <div class="wrapper count-title d-flex">
	            <div class="icon"><i class="fa fa-folder-open" aria-hidden="true"></i></div>
	            <div class="name"><strong class="text-uppercase">Domains</strong>
	              <div class="count-number">25</div>
	            </div>
	          </div>
          </a>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
        	<a href="{{ path_for('groups') }}" class="link-color">
	          <div class="wrapper count-title d-flex">
	            <div class="icon"><i class="fa fa-folder" aria-hidden="true"></i></div>
		            <div class="name"><strong class="text-uppercase">Groups</strong>
		              <div class="count-number">400</div>
		            </div>
          		</div>
          	</a>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
        	<a href="" class="link-color">
	          <div class="wrapper count-title d-flex">
	            <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
	            <div class="name"><strong class="text-uppercase">Users</strong>
	              <div class="count-number">342</div>
	            </div>
	          </div>
          </a>
        </div>
    </div>
  </section>
  <section class="dashboard-header section-padding">
        <div class="container-fluid">
          <div class="row d-flex align-items-md-stretch">
            <!-- To Do List-->
            <div class="col-lg-12 col-md-12">
              <div class="wrapper to-do">
                <header>
                  <h2 class="display h4">Pendings</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </header>
                <ul class="check-lists list-unstyled">
                  <li class="d-flex align-items-center"> 
                    <input type="checkbox" id="list-1" name="list-1" class="form-control-custom">
                    <label for="list-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa autem nihil voluptatum unde perspiciatis officia quo quisquam, dolorem beatae atque. Aliquid doloremque mollitia sit ipsam pariatur ipsa earum, velit et.</label>
                  </li>
                  <li class="d-flex align-items-center"> 
                    <input type="checkbox" id="list-2" name="list-2" class="form-control-custom">
                    <label for="list-2">Ed ut perspiciatis unde omnis iste</label>
                  </li>
                  <li class="d-flex align-items-center"> 
                    <input type="checkbox" id="list-3" name="list-3" class="form-control-custom">
                    <label for="list-3">At vero eos et accusamus et iusto </label>
                  </li>
                  <li class="d-flex align-items-center"> 
                    <input type="checkbox" id="list-4" name="list-4" class="form-control-custom">
                    <label for="list-4">Explicabo Nemo ipsam voluptatem</label>
                  </li>
                  <li class="d-flex align-items-center"> 
                    <input type="checkbox" id="list-5" name="list-5" class="form-control-custom">
                    <label for="list-5">Similique sunt in culpa qui officia</label>
                  </li>
                  <li class="d-flex align-items-center"> 
                    <input type="checkbox" id="list-6" name="list-6" class="form-control-custom">
                    <label for="list-6">At vero eos et accusamus et iusto </label>
                  </li>
                  <li class="d-flex align-items-center"> 
                    <input type="checkbox" id="list-7" name="list-7" class="form-control-custom">
                    <label for="list-7">Similique sunt in culpa qui officia</label>
                  </li>
                  <li class="d-flex align-items-center"> 
                    <input type="checkbox" id="list-8" name="list-8" class="form-control-custom">
                    <label for="list-8">Ed ut perspiciatis unde omnis iste</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
{% block foot %}
    {{ parent() }}
{% endblock %}