{% extends 'templates/app.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
     	<section class="dashboard-counts">
	        <div class="container-fluid">
	          <div class="row">
	            <div class="col-12">
	            	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa rerum id, dolor et iste amet laboriosam pariatur dolores eveniet modi quisquam earum dolorem, explicabo, magni illo eaque ex obcaecati. Amet!</p>
	            </div>
	          </div>
	        </div>
	    </section>
   
{% endblock %}
{% block foot %}
    {{ parent() }}
{% endblock %}