{% extends 'templates/app.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block title %}
    <h1>New Domain</h1>
{% endblock %}
{% block content %}
    <section class="dashboard-counts">
        <div class="container-fluid">
             <div class="row">
             	<div class="col-12">
             		<form action="" class="col-6 form-group">
             			<div>
             				<label for="">Domain Name</label><input type="text" class="form-group" name="named" id="named">
             			</div>
             			<div class="text-center">
             				<input type="submit" class="btn btn-primary" value="Submit">
             			</div>
             		</form>
             	</div>
             </div>
        </div>
    </section>
   
{% endblock %}
{% block foot %}
    {{ parent() }}
{% endblock %}